* {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    margin: 5px;


}

#box1 {
    top: 150px;
    left: 150px;
    position: relative;
}

#box2 {
    top: 2px;
    position: absolute;
}

#box4 {
    top: 100px;
    left: 100px;
    position: fixed;
}

#box5 {
    top: 200px;
    left: 200px;
    position: static;
} 