* {
  margin: 0px;
  padding: 0px;
  background-color: hotpink;
  border: 3px double wheat;
}

.container {
  height: 400px;
  width: auto;
  margin: 5px;
  border: 2px solid black;
  background-color: aqua;
  display: flex;
}
.box {
  height: 70px;
  width: 70px;
  border: 2px solid mediumvioletred;
  border-radius: 5px;
}

@keyframes animate {
  0% {
    left: 10px;
    left: 100px;
  }
  50% {
    left: 150px;
    left: 940px;
  }
  100% {
    left: 950px;
    left: 1000px;
  }
}
#box1 {
  background-color: chartreuse;
  position: absolute;
  animation-name: animate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#box2 {
  background-color: darkgreen;
  position: absolute;
  top: 100px;
  animation-name: animate1;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate1 {
  0%{
    left: 200px;
    top: 100px;
  }
  50%{
    left: 400px;
    top: 300px;
  }
  100%{
    left: 600px;
    top: 100px;
  }
}
