* {
    margin: 0px;
    padding: 0px;
    background-color: bisque;
}

.nav_bar a{
        text-decoration: none;
        color: black;
        left: 30px;
        position: relative;
}

.min {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: green;
    border-radius: 50px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: brown;
    display: inline-block;
    border: 2px solid royalblue;
}
#a{
    border: 2px solid greenyellow;
    margin: 10px;
}